manifest {
    homePage = 'https://github.com/icgc-argo-rna-wg/rna-editing'
    description = 'RNA editing analysis packages'
    nextflowVersion = '>=20.04'
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    fields = 'task_id,process,tag,name,status,cpus,memory,duration,realtime,exit'
}
